body {
    margin: 40px auto;
    max-width: 90%;
    line-height: 1.6;
    padding: 0 10px
}

blockquote {
  background: #f9f9f9;
  border-left: 10pt solid #ccc;
  margin: 1.5em 10pt; 
  padding: 0.5em 10pt;
}


blockquote p {
  display: inline;
}

.styled {
  list-style: none;
  padding: 0;
  /* margin: 0.1; */
}

.styled li {
  padding-left: 1rem;
}

.styled li::before {
  content: attr(data-icon);
  /* Make slightly larger than the li font-size
  but smaller than the li grid-gap */
}


@media (prefers-color-scheme: light) {
    body {
        background: white;
    }
    pre,code{
        background: ghostwhite;
    }
    a {
        /* color: #666;*/
        /*background: springgreen;*/
        text-decoration: none;
     }
     a:hover{
        background: lightgreen;

     }

}

@media (prefers-color-scheme: dark) {    
    /* Solarized dark color */
    body {
        color: #839496;
        background: #002b36;

    }
    a {
        color: #b58900;
    }
    a:visited {
        color: #cb4b16;
    }    
    strong {
        color: darkgray
    }
    h1 {
        color: #d33682;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #859900;
    }


    pre, code{
        background: #073642;
        border: 1pt solid #586e75;
        box-shadow: 1pt 1pt 1pt #586e75;
        padding: 1pt;
    }


}



#toc {
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  color: #002b36;
  background-color: honeydew;
  padding: 0.5em 5pt;        
}

#toc #full { display: none; }
#toc:hover #full{
  display: block;
}

